@import "font_awesome/fontawesome.scss";
@import "font_awesome/solid.scss";
@import "font_awesome/brands.scss";

@font-face{
    font-family: Raleway;
    src: url("../fonts/Raleway-Regular.ttf");
}

@font-face{
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face{
    font-family: Roboto;
    src: url("../fonts/Roboto-Black.ttf");
}